
build/

dist/

**/__pycache__/**

pyontrust_packages/greeting/__pycache__/

.venv-gui/

.venv-nicegui/

.venv-sdr/

artifacts/

gui_app/pin_configurator/.venv/

gui_app/baram/baram-web/Project(1)/

externals/pin_configurator/.venv/

externals/pin_configurator/vscode-extension/node_modules/
